<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ihelpproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQ5yIMCQM4oOdilkSsKla-v658doA8qxI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".map2" />
        <activity android:name=".googleMapActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".charityHomePageActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".registerActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".superVisorHomePageActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".VolunteerHomePageActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".volunteerSubmitJobsActivity"
            android:parentActivityName=".VolunteerHomePageActivity" />
        <activity
            android:name=".volunteerCharityDetailsActivity"
            android:parentActivityName=".VolunteerHomePageActivity" />
        <activity
            android:name=".RegisterAccountCheckActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CharityAddJobActivity"
            android:parentActivityName=".charityHomePageActivity" />
    </application>

</manifest>